<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/ >
    <title>Smoothed D3.js Radar Chart</title>

    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
      type="text/css"
    />

    <!-- D3.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"
      charset="utf-8"
    ></script>

    <style>
      body {
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        font-weight: 300;
        fill: #242424;
        text-align: center;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
        cursor: default;
      }

      .legendradar {
        font-family: "Raleway", sans-serif;
        fill: #333333;
      }

      .tooltipradar {
        fill: #333333;
      }
    </style>
  </head>
  <body>
    <div class="radarChart"></div>

    <script src="../static/js/radar.js"></script>
    <script>
      var globalfilter = {
        year: 2022,
        name: "Piqué",
      };
      /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */

      //////////////////////////////////////////////////////////////
      //////////////////////// Set-Up //////////////////////////////
      //////////////////////////////////////////////////////////////

      var margin = { top: 100, right: 100, bottom: 100, left: 100 },
        width =
          Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
        height = Math.min(
          width,
          window.innerHeight - margin.top - margin.bottom - 20
        );

      //////////////////////////////////////////////////////////////
      ////////////////////////// Data //////////////////////////////
      //////////////////////////////////////////////////////////////
      var data;

      // 	radar_data()
      // console.log(data)
      //////////////////////////////////////////////////////////////
      //////////////////// Draw the Chart //////////////////////////
      //////////////////////////////////////////////////////////////

      var color = d3.scale
        .ordinal()
        .range(["#ffbe0b", "#fb5607", "#ff006e", "#8338ec", "#3a86ff"]);

      var radarChartOptions = {
        w: width,
        h: height,
        margin: margin,
        maxValue: 0.5,
        levels: 5,
        roundStrokes: true,
        color: color,
      };

      function radar_data() {
        var url = "http://127.0.0.1:5005";
        fetch(url + "/get_radar_data", {
          method: "POST", // or 'PUT'
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(globalfilter),
        })
          .then((response) => response.json())
          // .then(data => data.text())
          .then(function (topo) {
            console.log(topo);
            RadarChart(".radarChart", topo, radarChartOptions);
          });
      }
      radar_data();
      //Call function to draw the Radar chart
      // RadarChart(".radarChart", data, radarChartOptions);
    </script>
  </body>
</html>
