body {
  font-family: Sans-serif;
  font-size: 8px;
}

.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #fff;
  stroke-width: 1px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

#dashboard {
  display: flex;
  justify-content: space-between;
  height: 800;
}

svg {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

div {
  width: 100%;
  height: 100%;
}


rect.overlay {
	stroke: black;
}

rect.selection {
	stroke: none;
  fill: steelblue;
  fill-opacity: 0.6;
}

#labelleft, #labelright {
	dominant-baseline: hanging;
  font-size: 12px;
}

#labelleft {
	text-anchor: end;
}

#labelright {
	text-anchor: start;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .selection {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}
