body {
  font-family: Sans-serif;
  font-size: 8px;
}

.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #fff;
  stroke-width: 1px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

#dashboard {
  display: flex;
  justify-content: space-between;
  height: 800;
}

svg {
  width: 100%;
  height: 100%;
}

div {
  width: 100%;
  height: 100%;
}

