.globalplayers {
  font-size: 24px;
  text-align: center;
}
body {
  font-family: Sans-serif;
  font-size: 8px;
  background-color: black;
  color: white
}

h1 {
  font-size: 16px;
  text-align: center;
  margin: none;
}



.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #fff;
  stroke-width: 1px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
}

#dashboard {
  display: flex;
  justify-content: space-between;
  height: 800;
}

#visdashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  height: 90vh;
  width: 100vw;
}

/* #visdashboard * {
  border: 1px solid black
} */

svg {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

div {
  width: 100%;
  height: 100%;
}


/* rect.overlay {
	stroke: black;
} */

rect.selection {
	stroke: none;
  fill: steelblue;
  fill-opacity: 0.6;
}

#labelleft, #labelright {
	dominant-baseline: hanging;
  font-size: 12px;
}

#labelleft {
	text-anchor: end;
}

#labelright {
	text-anchor: start;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .selection {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#sbpercentage {
  font-size: 2.5em;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}